
body {
              background-color:#ffffff;
              font-family: 'Oswald', sans-serif;
              background-image: url(pexels-miguel-á-padriñán-255379.jpg);
              /* max-height: ; */
             
      }

p
{
  color:#ffffff;
  font-family: cursive;
  font-size:25px;
}

.textBox
{
  height:30px;
  width:300px;
  color: bisque;
}

button
{
  height:35px;
  width:250px;
  border-radius:8px;
  font-family: cursive;
  padding:10px;
  font-size:20px;
  box-shadow: aquamarine;
  font-family: 'Oswald', sans-serif;
  height:52px;
  cursor:pointer;
  background-color:wheat;
}

